In [ ]:
print("Name: Anais Anand")
print("RegNo: 21BBS0137")

#importing the libraries.
import pandas as pd
import numpy as np

Name: Anais Anand
RegNo: 21BBS0137

In [ ]:
#Task 1. Creating the Data Frame.

x = np.random.randint(low=2, high=10, size=(4,4))
df=pd.DataFrame(x)
df

   0  1  2  3
0  6  4  2  7
1  5  2  5  3
2  5  6  4  3
3  4  5  6  9

In [ ]:
# Task-2. Rename the dataframe columns to Random Value 1, Random Value 2, Random Value 3, Random Value 4.

df.columns=['Random Value 1','Random Value 2','Random Value 3', 'Random Value 4']
df

   Random Value 1  Random Value 2  Random Value 3  Random Value 4
0               6               4               2               7
1               5               2               5               3
2               5               6               4               3
3               4               5               6               9

In [ ]:
# Task-3. Checking the Descriptive Statistics of df.

df.describe()

       Random Value 1  Random Value 2  Random Value 3  Random Value 4
count        4.000000         4.00000        4.000000        4.000000
mean         5.500000         4.75000        5.500000        7.500000
std          1.290994         3.40343        1.914854        1.290994
min          4.000000         2.00000        3.000000        6.000000
25%          4.750000         2.00000        4.500000        6.750000
50%          5.500000         4.00000        6.000000        7.500000
75%          6.250000         6.75000        7.000000        8.250000
max          7.000000         9.00000        7.000000        9.000000

In [ ]:
# Task-4. Check for Null Values and find the data types of the columns.

# Checking if there is any Nan or Null item in the created Dataset.
df.isnull().any()

# Checking Number of Null items in each dataset.
df.isnull().sum()

# Checking the datatype of df.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random Value 1  4 non-null      int64
 1   Random Value 2  4 non-null      int64
 2   Random Value 3  4 non-null      int64
 3   Random Value 4  4 non-null      int64
dtypes: int64(4)
memory usage: 256.0 bytes

In [ ]:
# Task 5. Location and Index Location.

#using loc
df.loc[:,'Random Value 2': 'Random Value 3']

   Random Value 2  Random Value 3
0               6               3
1               9               5
2               2               7
3               2               7

In [ ]:
#using iloc
df.iloc[:,1:3]

   Random Value 2  Random Value 3
0               6               3
1               9               5
2               2               7
3               2               7